//- footer#footer

//-   .footer_btn
//-     .container.p-l-0.p-r-0.clearfix
//-         a.footershopbtn(href="#")
//-          | KerKer
//-          i.fa.fa-chevron-down
//-         a.edm(href="#")
//-           | 會員電子報



//-   .container.p-l-0.p-r-0.clearfix
//-     .contact_info_footer
//-       p.info_title 客服 / 電話訂購
//-       ul.contact_tel
//-         li.clearfix
//-          span 一般電話
//-          a(href="tel:4499111") 88888888
//-         li.clearfix
//-          span 行動電話
//-          a(href="tel:02-4499111") 02-88888888
//-         li.clearfix
//-          span 海外撥號
//-          a(href="tel:886-2-77140021") 886-2-88888888
//-     .footer_item
//-       ul.sub_footer
//-         li
//-           a(href='') 聯絡我們
//-         li

//-           a(href='') 合作提案
//-         li

//-           a(href='') 隱私權聲明及使用政策
//-         li

//-           a(href='') 交易約定事項
//-       span.cpyright © Copyright Taiwan Ltd. All Rights Reserved


// BEGIN: LAYOUT/FOOTERS/FOOTER-5
a(name='footer')
footer.c-layout-footer.c-layout-footer-3.c-bg-yellow-2
  .c-prefooter
    .container
      .row

        .col-md-12
          .c-container.c-last
            .c-content-title-1
              h3.c-font-uppercase.c-font-bold.c-font-white Find us
              .c-line-left.hide
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy ad minim.

// END: LAYOUT/FOOTERS/FOOTER-5
